/* Tailwind base, components y utilidades */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales opcionales */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb; /* gris muy claro */
  margin: 0;
  padding: 0;
}
